debug.txt
.project
.classpath
/Jars
/.settings

/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
